.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.pokedex-container {
  position: relative;
}

.pokemon-card {
  cursor: pointer;
}

.pokemon-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media screen and (max-width: 1425px) {
  .pokedex-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .pokedex-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 940px) {
  .pokedex-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 455px) {
  .pokedex-grid {
    grid-template-columns: 1fr;
  }
}


