.pokemon-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 510px;
  z-index: 1000;
}

.pokemon-details h4,
.pokemon-details h2 {
  margin: 15px 0;
  color: black;
}

.pokemon-details h2 {
  font-size: 24px;
  text-transform: capitalize;
}

.pokemon-details ul {
  padding: 0;
  list-style: none;
}

.pokemon-details li {
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 2px 7px 4px 7px;
}

.pokemon-details .header-section li {
  background-color: #e4e4e47a;
}

.pokemon-details img {
  display: block;
  margin-right: 50px;
  width: 150px;
  height: 150px;
}

.pokemon-details p {
  margin: 5px 0;
  text-transform: capitalize;
}

.pokemon-details button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pokemon-details button:hover {
  background-color: #d32f2f;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 15px 20px;
}

.header-section .header-text {
  margin-right: 20px;
  margin-left: 50px;
}

.info-section,
.section-headers {
  display: flex;
}

.info-section {
  flex-direction: column;
  background-color: #f9f9f9;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.section-headers {
  text-align: center;
}

.section-headers h4 {
  cursor: pointer;
  padding: 0 10px;
  display: inline-block;
  margin-right: 10px;
}

.section-headers .active {
  font-weight: bold;
  text-decoration: underline;
}

.general-info {
  flex: 1;
  padding-right: 10px;
}

.stats {
  flex: 1;
  padding-left: 10px;
}

.stats li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stats li span {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.stats-bar-container {
  background-color: rgb(160, 160, 160);
  width: 255px;
  height: 10px;
  border-radius: 5px;
}

.stats-bar {
  background-color: rgb(0, 119, 255);
  height: 10px;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.pokemon-details.grass,
.pokemon-details.fire,
.pokemon-details.water,
.pokemon-details.bug,
.pokemon-details.normal,
.pokemon-details.poison,
.pokemon-details.electric,
.pokemon-details.ground,
.pokemon-details.fairy,
.pokemon-details.fighting,
.pokemon-details.psychic,
.pokemon-details.rock,
.pokemon-details.ghost,
.pokemon-details.ice,
.pokemon-details.dragon,
.pokemon-details.dark,
.pokemon-details.steel,
.pokemon-details.flying {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.pokemon-details.grass { background-color: #48d07c; }
.pokemon-details.fire { background-color: #ffab5c; }
.pokemon-details.water { background-color: #479ae7; }
.pokemon-details.grass { background-color: #48d07c; }
.pokemon-details.fire { background-color: #ffab5c; }
.pokemon-details.water { background-color: #479ae7; }
.pokemon-details.bug { background-color: #d1dd78; }
.pokemon-details.normal { background-color: #c4c4a6; }
.pokemon-details.poison { background-color: #885d99; }
.pokemon-details.electric { background-color: #ffe866; }
.pokemon-details.ground { background-color: #e2b888; }
.pokemon-details.fairy { background-color: #f469a9; }
.pokemon-details.fighting { background-color: #ce8b86; }
.pokemon-details.psychic { background-color: #cf79cb; }
.pokemon-details.rock { background-color: #cab483; }
.pokemon-details.ghost { background-color: #6a518b; }
.pokemon-details.ice { background-color: #7ad8f5; }
.pokemon-details.dragon { background-color: #9b6be9; }
.pokemon-details.dark { background-color: #333; }
.pokemon-details.steel { background-color: #CCCCDE; }
.pokemon-details.flying { background-color: #BAB0D5; }

@media screen and (max-width: 550px) {
  .stats-bar-container {
    display: none;
  }

  .pokemon-details {
    width: 280px;
  }

  .header-section {
    padding: 0px 0px 15px 15px;
  }

  .header-section .header-text {
    margin-right: 15px;
    margin-left: 0px;
  }

  .stats li {
    margin: 0;
    margin-bottom: 5px;
  }

  .stats li span {
    margin: 0px;
  }

  .header-text ul :first-child {
    margin-bottom: 10px;
  }
}
