.nav-decor {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-button {
    position: relative;
    border: 8px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
  }
  
  .circular-button:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100%);
    height: calc(100%);
    border: 3px solid gray;
    border-radius: 50%;
  }
  
  .circular-button.clicked {
    transform: scale(0.9);
  }
  